{% extends 'chordbuilder/base.html' %}

{% block title %}Scales{% endblock %}

{% block content %}
    {% if all_scale_list %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Intervals</th>
                </tr>
            </thead>
            <tbody>
                {% for scale in all_scale_list %}
                    <tr>
                        <td>{{ scale }}</td>
                        <td>{{ scale.print_intervals }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No scale are available.</p>
    {% endif %}
{% endblock %}